.hidden {
    display: none;
}

#accordion {
    cursor: pointer;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    background: white;
}

#project-item {
    cursor: pointer;
}

.overlay h1 {
    padding-top: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 2px;
}

.overlay a {
    padding: 8px;
    text-decoration: underline;
    font-size: 14px;
    color: blue;
    display: block;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
}

.form-control {
    margin: 8px;
}

input-group-addon {
    background: gray;
}

#dialog.ul {
    font-size: 18px;
}

#user-data a {
    padding: 8px;
    text-decoration: underline;
    font-size: 14px;
    color: blue;
    display: block;
}

#bom-accordion p {
    font-size: 12px;
}